<div class="main-container">
    <div class="content-container">
        <div class="container-left">
            <h1>Grow Your Business
                with Smart Restaurant
                Management Solution</h1>
            <p>Handle online & tableside orders, loyalty
                programs, discounts, billing and more with
                Restaurant POS Software</p>
            <ul>
                <li>5 Times Faster Billing</li>
                <li>100% Control Over Inventory</li>
                <li>7 Times Increase in Orders</li>
                <li>5 Times Reduced Expenses</li>
            </ul>

        </div>
        <div class="container-right">
            <div class="custom-card">
                <div class="card-body">
                    <form action="#">
                        <input type="text">
                        <button type="button">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>