body { padding-top: 70px; }
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100% !important;
    padding: 15px;
    border: 1px solid #999;
    background:darkblue;
    color:#fff;
}

.custom-btn {
    color: #000;
    border: 1px solid #999;
    border-radius: 10px;
    width: 7rem;
    text-decoration: none;

}

.position {
    position:relative;
}
.bg-blue {
    background-color: darkblue;
}

.fixed {
    position: fixed;
}