<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <h4>Outlet Types</h4>
                    <ul>
                        <li><a href="#">Cafe Pos</a></li>
                        <li><a href="#">Pizza Pos</a></li>
                        <li><a href="#">Dine-in Pos</a></li>
                        <li><a href="#">Bakery Pos</a></li>
                        <li><a href="#">Cloud Kitchen Pos</a></li>
                        <li><a href="#">Food Truck Pos</a></li>
                        <li><a href="#">QSR Pos</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <h4>Outlet Types</h4>
                    <ul>
                        <li><a href="#">Cafe Pos</a></li>
                        <li><a href="#">Pizza Pos</a></li>
                        <li><a href="#">Dine-in Pos</a></li>
                        <li><a href="#">Bakery Pos</a></li>
                        <li><a href="#">Cloud Kitchen Pos</a></li>
                        <li><a href="#">Food Truck Pos</a></li>
                        <li><a href="#">QSR Pos</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <h4>Outlet Types</h4>
                    <ul>
                        <li><a href="#">Cafe Pos</a></li>
                        <li><a href="#">Pizza Pos</a></li>
                        <li><a href="#">Dine-in Pos</a></li>
                        <li><a href="#">Bakery Pos</a></li>
                        <li><a href="#">Cloud Kitchen Pos</a></li>
                        <li><a href="#">Food Truck Pos</a></li>
                        <li><a href="#">QSR Pos</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <h4>Outlet Types</h4>
                    <ul>
                        <li><a href="#">Cafe Pos</a></li>
                        <li><a href="#">Pizza Pos</a></li>
                        <li><a href="#">Dine-in Pos</a></li>
                        <li><a href="#">Bakery Pos</a></li>
                        <li><a href="#">Cloud Kitchen Pos</a></li>
                        <li><a href="#">Food Truck Pos</a></li>
                        <li><a href="#">QSR Pos</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
